@model BloodProfile.Models.BloodWork

<div>
    <dl class="row">
        <p>Date Created: @Model.DateCreated</p>    
        <p>Exam Date: @Model.ExamDate</p>
        <p>Results Date: @Model.ResultsDate</p>
        <p>Description: @Model.Description</p>
        <p>Hemoglobin (g/dl): @Model.Hemoglobin</p>
        <p>Hematocrit (%): @Model.Hematocrit</p>    
        <p>White blood cell counts (10<sup>9</sup> cells/L): @Model.WhiteBloodCellCount</p>
        <p>Red blood cell counts (10<sup>12</sup> cells/L): @Model.RedBloodCellCount</p>
    </dl>
</div>
